:root {
    --font-family: "Roboto Light", Avenir, Helvetica, Arial, sans-serif;
    font-family: var(--font-family), serif;
    --header-h: 72px;
    --footer-h: 40px;
    line-height: 1.5;
    font-weight: 400;box-sizing: border-box;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}